# Server Environment Variables
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/pocket-mentor
JWT_SECRET=pocket_mentor_super_secret_jwt_key_2026
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
CLIENT_URL=http://localhost:5173

# Client Environment Variables
VITE_API_URL=http://localhost:5000/api
